.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #98c2ec;
    border-radius: .3rem;
}


.navbar button {
  margin-top: 6px;
}  

.cards {
  padding-top: 30px;
}

.cards .col-md-4 .card .card-body .card-title {
  font-weight: bold;
}

.big-title {
  position: absolute;
  bottom: 0;
}