.jumbotron {
  height: 235px;
  padding-top: 40px;
  margin-bottom: 60px;
  background-color: #406DB4;
}

.jumbotron h1 {
  padding-top: 1em;
  color: white;
}

.jumbotron h3 {
  color: white;
}

.navbar button {
  margin-top: 6px;
}  

.cards {
  padding-top: 60px;
}

.cards .col-md-4 .card .card-body .card-title {
  font-weight: bold;
}

.card-img-top {
  padding: 15px;
}

.big-title {
  position: absolute;
  bottom: 0;
}

.card .btn {
  background-color: #406DB4;
  border: none;
}

.card .btn:hover {
  background-color: #648AC7;
  border: none;
}

.btn-download {
  background-color: #406DB4;
  color: white;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.19);
}

.btn-download:active {
  background-color: #406DB4;
  color: white;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.19);
}

.btn-download:hover {
  background-color: #648AC7;
  color: white;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.19);
}

.btn-download:focus {
  background-color: #406DB4;
  color: white;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.19);
}

footer {
	margin-top: 60px;
	padding-top: 10px;
	padding-bottom: 150px;
	background-color:  #406DB4;
  color: white;
}

footer p {
	margin-bottom: 0px;
}

body a:hover {
  color: #648AC7;
}

footer a {
  color: #ffffff;
}

footer a:hover {
  color: #ffffff
}

figcaption {
  font-weight: bolder;
}

.screenshot {
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.footer-icon {
  height: 20px;
}

.anchor{
  display:block;
  height:63px; /* this is the height of your header */
  margin-top:-63px; /* this is again negative value of the height of your header */
  visibility:hidden;
}

.navbar-nav > li{
  margin-left:10px;
  margin-right:10px;
}

.link {
  width: 10rem;
  height: 10rem;
  display: inline-block;
  font: 300 1.55rem/1.4 "Josefin Sans";
  text-transform: uppercase;
  letter-spacing: 0.1175em;
  word-spacing: 0.3em;
  text-decoration: none;
}
.link__svg {
  width: 100%;
  height: auto;
  transform-box: fill-box;
  fill: #2B3338;
  stroke: #2B3338;
  stroke-width: 0.05em;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.link__cloud {
  transform-origin: 50% 50%;
  animation: rotate normal infinite 60s linear;
  fill: rgb(250, 122, 35, .7);
}
.link__cloud:hover {
  transform-origin: 50% 50%;
  animation: rotate normal infinite 60s linear;
  fill: rgb(250, 122, 35, .9);
}
.link__svg:hover .link__cloud {
  transform-origin: 50% 50%;
  animation: rotate normal infinite 60s linear;
  fill: rgb(250, 122, 35, .9);
}
.link__arrow {
  transform-origin: 50% 50%;
  transition: transform 0.15s cubic-bezier(0.32, 0, 0.67, 0);
}
.link:hover .link__arrow {
  transform: scale(1.1);
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  transform: rotate(360deg);/* normal infinite 60s linear;*/
  stroke: white;
  stroke-width: 0.25em;
}
.link__arrow {
  stroke-width: 0.1em;
}
.link__text {
  animation: rotateReverse normal infinite 20s linear;
  transform-origin: 50% 50%;
}
.link:hover .link__text {
  animation-play-state: paused;
}
.link--alt {
  font-size: 1.15rem;
  letter-spacing: 0;
  word-spacing: 0;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateReverse {
  to {
    transform: rotate(-360deg);
  }
}
